USE [DBA]
GO
/****** Object:  StoredProcedure [dbo].[uspOKToBackup]    Script Date: 29/01/2020 10:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--======================================
--Author	D. Hostler
--Date		27 Mar 2019
--Desc		Check if enough space to Backup database
--======================================
CREATE PROCEDURE [dbo].[uspOKToBackup] 
     @db_name NVARCHAR(100)
	,@DriveLetter  VARCHAR (5) 
	,@OKToBackup bit out
	,@BackUpSizeMb int out
	,@FreeDriveSpaceMb int out

AS
/*

	DECLARE	 @db_name NVARCHAR(100) = 'Transactor_Live'
			,@DriveLetter  VARCHAR (5) = 'C'
			,@OKToBackup bit
			,@BackUpSizeMb int
			,@FreeDriveSpaceMb int 

	exec [dbo].[uspOKToBackup] @db_name ,@DriveLetter ,@OKToBackup out ,@BackUpSizeMb out ,@FreeDriveSpaceMb out

	select @OKToBackup ,@BackUpSizeMb ,@FreeDriveSpaceMb

*/
BEGIN
	SET NOCOUNT ON 
	SET @BackUpSizeMb = [dbo].[svfDBSize] (@db_name)

	DECLARE @FixedDrives TABLE ([Drive] VARCHAR (5), [MBFree] DECIMAL (8, 2))
	INSERT INTO @FixedDrives ([Drive],[MBFree])	EXEC xp_fixeddrives
	
	SELECT 
		 @OKToBackup = CASE WHEN @BackUpSizeMb > [MBFree] THEN 0 ELSE 1 END
		,@FreeDriveSpaceMb = [MBFree]
	FROM 
		@FixedDrives 
	WHERE 
		[Drive] = @DriveLetter

END

GO
